<section class="w-100 pt-3">
    <div
      class="flex flex-col flex-1 items-center justify-start px-6 py-8 mx-auto my-8 lg:py-0"
    >
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
      >
        @if (errmsg) {
        <div
          class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
          role="alert"
        >
          {{ errmsg }}
        </div>
        }
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl dark:text-black"
          >
            checkout :
          </h1>
          <form
            [formGroup]="checkoutForm"
            class="space-y-4 md:space-y-3"
            (ngSubmit)="submitcheckout()"
          >
            <div>
              <label
                for="Details"
                class="block mb-1 text-sm font-medium text-black dark:text-black"
                >Your Address</label
              >
              <input
                type="Details"
                formControlName="details"
                name="Details"
                id="Details"
                placeholder="Address"
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
         
                required=""
              />
            </div>
            @if (checkoutForm.get('details')?.errors &&
            checkoutForm.get('details')?.touched) { @if
            (checkoutForm.get('details')?.errors?.['required']) {
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              Address is required value
            </div>
            } }
  
            <div>
              <label
                for="phone"
                class="block mb-1 text-sm font-medium text-black dark:text-black"
                >Phone Number</label
              >
              <input
                type="tel"
                name="phone"
                formControlName="phone"
                id="phon"
                placeholder="01xxxxxxxxx"
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
                required=""
              />
            </div>
            @if (checkoutForm.get('phone')?.errors &&
            checkoutForm.get('phone')?.touched) { @if
            (checkoutForm.get('phone')?.errors?.['required']) {
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              phone is required value
            </div>
            }@else if(checkoutForm.get('phone')?.errors?.['pattern']) {
                <div
                class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
                role="alert"
              >
                phone is required value
              </div>
            } }
    
          
            <div>
              <label
                for="city"
                class="block mb-1 text-sm font-medium text-black dark:text-black"
                > City </label
              >
              <input
                type="text"
                name="city"
                placeholder="city"
                formControlName="city"
                id="city"
                placeholder=""
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
                required=""
              />
            </div>
            @if (checkoutForm.get('city')?.errors &&
            checkoutForm.get('city')?.touched) { @if
            (checkoutForm.get('city')?.errors?.['required']) {
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              city is required value
            </div>
            } }
    
            <label for="" class="mt-2">
                payment options
            </label>
            <div class="flex items-center mb-4" >
                <input id="default-radio-1" (change)="changeRadioValue($event)" type="radio" value="card" name="checkout_option" class="w-4 h-4 text-blue-600 bg-blue-100 
                checked:accent-green-600 border-gray-300 focus:ring-blue-500  ">
                <label for="checkout_option-1" class="ms-2 text-sm font-medium text-gray-900 ">Pay by Card </label>
            </div>
            <div class="flex items-center">
                <input checked id="checkout_option-2" (change)="changeRadioValue($event)" type="radio" value="cash" name="checkout_option" class="w-4 h-4 text-blue-600  bg-gray-100 border-gray-300  checked:accent-green-600 focus:ring-blue-500  ">
                <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900">pay Cash</label>
            </div>

            <button
              [disabled]="checkoutForm.invalid"
              [ngClass]="{
                'hover:bg-green-800': checkoutForm.valid,
                'cursor-not-allowed': checkoutForm.invalid
              }"
              class="w-full text-white bg_main focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center d dark:hover: dark:focus:bg-green-800 ring-primary-800"
            >
              @if (isloading) {
              <span class="loader"></span>
              }@else { checkout }
            </button> 
          </form>
        </div>
      </div>
    </div>
  </section>
  