::view-transition-old(root) {
    animation:  ease 1s 1 normal forwards;
  }
  
  ::view-transition-new(root) {
    animation:  ease 1s 1 normal forwards;
  }
  .overlay{
    opacity:0 ;
  z-index: 21;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #ffff, $alpha: 0.9);
    }

 .category:hover  .overlay{
  opacity: 1;
  }