<section @openclose class="w-100 pt-3">
    <div
      class="flex flex-col flex-1 items-center justify-start px-6 py-8 mx-auto my-8 lg:py-0"
    >
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
      >
        @if (errmsg) {
        <div
          class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
          role="alert"
        >
          {{ errmsg }}
        </div>
        }
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl dark:text-black"
          >
            ResetCode :
          </h1>
          <form
            [formGroup]="NewPasswordForm"
            class="space-y-4 md:space-y-3"
            (ngSubmit)="resetPassword()"
          >
          <div>
            <label
              for="email"
              class="block mb-1 text-sm font-medium text-black dark:text-black"
              >Your email</label
            >
            <input
              type="email"
              formControlName="email"
              name="email"
              id="email"
           [value]="email"
              class="border pointer-events-none bg-gray-300 border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
              required=""
            />
          </div>
          @if (NewPasswordForm.get('email')?.errors &&
          NewPasswordForm.get('email')?.touched) { @if
          (NewPasswordForm.get('email')?.errors?.['required']) {
          <div
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
            role="alert"
          >
            Email is required value
          </div>
          }@else if(NewPasswordForm.get('email')?.errors?.['email']){
          <div
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
            role="alert"
          >
            Email must be written in right form
          </div>
          } }

          
            <div>
              <label
                for="resetCode"
                class="block mb-1 text-sm font-medium text-black dark:text-black"
                >Your New Password</label
              >
              <input
                type="password"
                formControlName="newPassword"
                name="newPassword"
                id="newPassword"
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
                placeholder="newPassword"
                required=""
              />
            </div>
            @if (NewPasswordForm.get('newPassword')?.errors &&
            NewPasswordForm.get('newPassword')?.touched) { @if
            (NewPasswordForm.get('newPassword')?.errors?.['required']) {
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              password is required value
            </div>
            }@else if(NewPasswordForm.get('newPassword')?.errors?.['pattern']){
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              password must be written in right form
            </div>
            } }
  
   
        
            <button
              [disabled]="NewPasswordForm.invalid"
              [ngClass]="{
                'hover:bg-green-800': NewPasswordForm.valid,
                'cursor-not-allowed': NewPasswordForm.invalid
              }"
              class="w-full text-white bg_main focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center d dark:hover: dark:focus:bg-green-800 ring-primary-800"
            >
              @if (isloading) {
              <span class="loader"></span>
              }@else { submit }
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>