.tittle{
    font-size: 3rem;
}

body {
    background: #f5f5f5;
  }
  .card_:hover .card-body{
opacity: 0;
  }
  .card_:hover .hearticon{
opacity: 1;
  }
  .card_:hover .btn{
    transform: translateY(0px);
  }
  .card {
      position: relative;
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      border-radius: 6px;
      
      overflow: hidden;
      margin: 40px auto;
    
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 1200px 100%;
  }
  
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -100% 0;
      }
      100% {
          background-position: 100% 0;
      }
  }
  
  @keyframes shimmer {
      0% {
          background-position: -1200px 0;
      }
      100% {
          background-position: 1200px 0;
      }
  }
    
      .media {
      height: 200px;
  }
  
  .p-32 {
      padding: 32px;
  }
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {
        width: 40%;
      }
  
  }
  
  
  .m-t-24 {
      margin-top: 24px;
  }
  
  ::view-transition-old(root) {
    animation:  ease 1s 1 normal forwards;
  }
  
  ::view-transition-new(root) {
    animation:  ease 1s 1 normal forwards;
  }