@if (reset_code) {
<app-code-check @openclose ></app-code-check>
}@else {
<section @openclose class="w-100 pt-3">
    <div
      class="flex flex-col flex-1 items-center justify-start px-6 py-8 mx-auto my-8 lg:py-0"
    >
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
      >
        @if (errmsg) {
        <div
          class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
          role="alert"
        >
          {{ errmsg }}
        </div>
        }
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl dark:text-black"
          >
            Forget Password :
          </h1>
          <form
            [formGroup]="EmailForm"
            class="space-y-4 md:space-y-3"
            (ngSubmit)="CallForgetPassword()"
          >
            <div>
              <label
                for="email"
                class="block mb-1 text-sm font-medium text-black dark:text-black"
                >Your email</label
              >
              <input
                type="email"
                formControlName="email"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:outline-none focus:border-green-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-green-500"
                placeholder="name@company.com"
                required=""
              />
            </div>
            @if (EmailForm.get('email')?.errors &&
            EmailForm.get('email')?.touched) { @if
            (EmailForm.get('email')?.errors?.['required']) {
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              Email is required value
            </div>
            }@else if(EmailForm.get('email')?.errors?.['email']){
            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-500"
              role="alert"
            >
              Email must be written in right form
            </div>
            } }
  
   
        
            <button
              [disabled]="EmailForm.invalid"
              [ngClass]="{
                'hover:bg-green-800': EmailForm.valid,
                'cursor-not-allowed': EmailForm.invalid
              }"
              class="w-full text-white bg_main focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center d dark:hover: dark:focus:bg-green-800 ring-primary-800"
            >
              @if (isloading) {
              <span class="loader"></span>
              }@else { submit }
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
}