<div class="w-10/12 mx-auto">
 
@if (isloading) {
  <div 
    class="justify-center items-center flex flex-col space-y-5 md:flex-row px-16"
  >
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  
  }
  @else{
    <div class="bg-gray-100 rounded-2xl  ">
        <h2 class="text-center pt-8 text-4xl"> ALL ORDERS</h2>
        @for (recipt of ordersList; track $index) {
         <div 
        @open class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8 p-4 rounded-xl">
        
                    <div class="mx-auto w-full flex-none border-none lg:max-w-2xl xl:max-w-4xl ">
                      <div class="space-y-6 border-none">
                        @for (product of recipt.cartItems; track $index) {
        
                        <div @close @open class="rounded-lg  bg-transparent p-4 shadow text-gray-900   dark:bg-white md:p-6">
                          <div class="space-y-4 items-center flex-1 justify-center flex flex-col md:flex-row md:items-center md:justify-between md:gap-6 md:space-y-0">
                           
                              <div class="w-6/12  md:h-30 md:w-20 ">
                              <img class="hidden h-full w-full dark:block" [src]="product.product.imageCover" [alt]="product.product.title" />
                            </div>
                            <div class="flex flex-col md:flex-row items-center justify-between md:order-3 md:justify-center">
                              <div class="flex items-center mb-4 md:mb-0 justify-center ">
                          <label for=""> Quantity : </label>
                               <span class="mx-2">{{product.count}}</span>
                             
                              </div>
                              <div class="text-end md:order-4 md:w-32">
                                <p class="text-base font-bold text-gray-900 ">{{product.price}} EGP</p>
                              </div>
                            </div>
              
                            <div class="w-full min-w-0 flex-1 flex-col justify-between space-y-4 md:order-2 md:max-w-md">
                              <p  class="text-base font-medium text-gray-900  ">{{product.product.title}}
                              <div class="flex self-end items-center gap-4">
                               
              
                        
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      </div>
                    
                    </div>
              
                    <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
                      <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm text-gray-900  dark:bg-white sm:p-6">
                        <p class="text-xl font-semibold text-gray-900 ">Order summary</p>
                        <div class="flex flex-col gap-y-2">
                          <div class="flex flex-row ">
                            <span class="font-normal">is Deliverd :</span>
                            <span [ngClass]="{'bg-green-700' : recipt.isDelivered ,'bg-red-700' : !recipt.isDelivered}" class="ms-2 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded ">{{recipt.isDelivered}}</span>
                          </div>
                         
          <div class="flex">
            <span>is Paid :</span>
                          <span [ngClass]="{'bg-green-700' : recipt.isPaid ,'bg-red-700' : !recipt.isPaid}" class="ms-2 bg-red-700 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded ">{{recipt.isPaid}}</span>
          </div>
          <div class="flex">
            <span> Payment Method : </span> <span class="ms-2"> {{recipt.paymentMethodType}}</span>
        
          </div>
                        </div>
               
                        <div class="space-y-4">
                     
              
                          <dl class="flex items-center justify-between gap-4  pt-2 dark:border-gray-700">
                            <dt class="text-base font-bold text-gray-900 ">Total Price</dt>
                            
                            
                            
                        
                              <dd class="text-base font-bold text-gray-900 ">{{recipt.totalOrderPrice|currency:'EGP'}}</dd>
        
                            
                          </dl>
                        </div>
        
        
                      
                      </div>
              
                     
                    </div>

                  </div>
                  <div class="w-full border-y-4 border-white rounded-xl "></div>

                }

                </div>
              }
              
</div>