@if (errormsg) {
  <div
    class="p-5 text-center text-red-800 rounded-lg my-10 capitalize bg-red-50 text-4xl dark:text-red-500"
    role="alert"
  >

  <h2 class="capitalize">  not found</h2>
  
  </div>

  } @else { 
    
    @if (_ProductsService.product_List.length == 0 && !isloading) {
      <div> <h2 class="capitalize text-lg md:text-3xl text-gray-700 text-center my-4" > there is no product in this category for Now</h2></div>
       }@else {
<div @openclose
class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 items-center justify-center gap-y-7 gap-x-7 mt-10 mb-5"
>
<!-- error msg  -->

  @if(isloading){

<!-- loading shimmer effect -->
<div
  
  class="card w-72 bg-white shadow-md rounded-xl duration-500"
>
  <div class="shimmerBG media"></div>
  <div class="p-16">
    <div class="shimmerBG title-line"></div>
    <div class="shimmerBG title-line end"></div>

    <div class="shimmerBG content-line m-t-24"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line end"></div>
  </div>
</div>
<div
  
  class="card w-72 bg-white shadow-md rounded-xl duration-500"
>
  <div class="shimmerBG media"></div>
  <div class="p-16">
    <div class="shimmerBG title-line"></div>
    <div class="shimmerBG title-line end"></div>

    <div class="shimmerBG content-line m-t-24"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line end"></div>
  </div>
</div>
<div
  
  class="card w-72 bg-white shadow-md rounded-xl duration-500"
>
  <div  class="shimmerBG media"></div>
  <div  class="p-16">
    <div class="shimmerBG title-line"></div>
    <div class="shimmerBG title-line end"></div>

    <div class="shimmerBG content-line m-t-24"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line end"></div>
  </div>
</div>
<div
  
  class="card w-72 bg-white shadow-md rounded-xl duration-500"
>
  <div  class="shimmerBG media"></div>
  <div  class="p-16">
    <div class="shimmerBG title-line"></div>
    <div class="shimmerBG title-line end"></div>

    <div class="shimmerBG content-line m-t-24"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line end"></div>
  </div>
</div>
@for (product of _ProductsService.product_List; track $index) {
  <div
 
  class="card w-72 bg-white shadow-md rounded-xl duration-500"
>
  <div class="shimmerBG media"></div>
  <div class="p-16">
    <div class="shimmerBG title-line"></div>
    <div class="shimmerBG title-line end"></div>

    <div class="shimmerBG content-line m-t-24"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line"></div>
    <div class="shimmerBG content-line end"></div>
  </div>
</div>
}
} @else {
<!-- Products cards -->

@for (product of _ProductsService.product_List|search :userWord; track $index ;) {

<div
   [@openclose]  
  class="w-72 card_ flex justify-center items-center  bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl hover:cursor-pointer"
>
  <a  [@openclose] class="relative flex flex-col justify-center items-center overflow-hidden">
    <a  class="absolute right-5 hearticon opacity-0 transition-all duration-700 "> 
      @if (WishList.includes( product.id)) {
        <i  (click)="removeFromWishList(product.id)" class=" fa-solid text-3xl main_Text z-200 fa-heart"></i>

      }@else {
        <i  (click)="addtoWishList(product.id)" class=" fa-solid text-3xl main_Text z-200 fa-heart-crack"></i>

      }
    </a>
    <div class="" (click)="product_details_navigate(product.id)">

    <img
    
      [src]="product.imageCover"
      [alt]="product.description"
      class="h-80 w-72 object-cover rounded-t-xl"
    />
      
    <div class="px-4 py-3 w-72  ">
      <span class="text-green-600 mr-3 uppercase text-xs">{{
        product.brand.name
      }}</span>
      <p class="text-lg font-bold text-black truncate block capitalize">
        {{ product.title.split(" ").splice(0,2).join(" ") }}
      </p>
      <div class="flex items-center justify-between card-body transition-all duration-500">
        <p class="text-lg font-semibold text-black cursor-auto my-3">
          {{ product.price }} EGP
        </p>

        <div class="flex items-center">
         
         <i class="fa fa-star text-yellow-400"></i>
          <p class="ms-2 text-sm font-bold text-gray-900">
            {{ product.ratingsAverage }}
          </p>
        
          <a class="text-sm font-medium ms-2 text-gray-900"
            >{{ product.ratingsQuantity }} reviews</a
          >
        </div>
      </div>
    </div>
  </div>
    <button
    (click)="addProductToCart(product._id,$event)"
    type="button"
    class="my-2 mx-auto  btn absolute transition-all duration-500 bottom-2 w-10/12 translate-y-[500px]  text-white bg_main hover:hover_color focus:ring-1 focus:ring-green-300 rounded-lg text-sm px-5 py-3 dark:bg_main dark:hover:bg-green-700 focus:outline-1   font-bold"
  >
 
    <i class="fa-solid fa-add"></i>
    Add to Cart

  </button>
  </a>

</div>

} } 
</div>
        } }