/* You can add global styles to this file, and also import other style files */
@tailwind base;

@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&family=Outfit:wght@100..900&family=Pacifico&display=swap");
.bg {
  background-color: #f0f3f2;
}

:root {
  --main-color: #08ac0a;
  --hover_main-color: #085209;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.bg_main {
  background-color: var(--main-color);
}
.hover_color {
  background-color: var(--hover_main-color);
}
.loader {
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-bottom-color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

